@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap')
:root {
  --he-primary-color: #B85367;
}

h1{
  font-family: 'Itim', cursive;
  font-size: 22px;
  }

body {
  max-width: 100%;
  background-color: #FFDEDB;
}


}
nav {
  width: 100%;
  position: absolute;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #B85367;
  word-spacing: 10px;
  padding: 5px;
  font-family: 'Itim', cursive;
}

nav ul {
    margin: 4rem 2rem 2rem 2rem;
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li.logo {
  margin-right: 2rem;
}

nav ul li.logo { 
    word-spacing: 10px;
    width:100px;
    margin-right: auto;
   
}

nav ul li a {
  color: #FFDEDB;
  text-decoration: none;
  font-size: 30px;
}



@media screen and (max-width: 900px) { 
    nav ul {
        flex-direction: column;
    }

    nav ul li.logo {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

footer{
  padding: 20px;
}

header {
  width: 100vw;
  height: 100vh;
  background: rgba(184, 83, 103, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFDEDB;
}

*{
  box-sizing: border-box;
}


.column{
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after{
  content:"";
  display: table;
  clear: both;
}

h2{

  font-family: 'Itim', cursive;
  font-size: 32px;
  line-height: 30px;
  text-indent: 30px;
  color: #FF0062;
}

header::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%; 
    background: #FFDEDB;
    background-image: url(../images/home-page.svg);
    background-size: cover;
    z-index: -1;
}

header h1 {
    margin-top: 0;
    font-size: 128px;
    line-height: 1px;
}

header h2{
  font-family: 'Itim', cursive;
  font-size: 32px;
  line-height: 30px;
  text-indent: 30px;
  color: #FF0062;
}
header p {
    font-family: 'Itim', cursive;
    font-size: 32px;
    font-weight: 300;
    font-height: 1px;
    margin-bottom: 56px;
}


@media screen and (max-width: 900px) { 
header h1 
}

p {

  font-family: 'Itim', cursive;
  font-size: 22px;
  line-height: 30px;
  text-indent: 30px;
  color: #B85367;
  padding: 10px;
  text-align: center;
}

{
    font-size: 60px;

    }

    header p {
      font-size: 30px;
} 



.btn {
    background: #B85367;
    padding: 15px 30px;
    color: #FFDEDB;
    border-radius: 10px;
    font-size: 32px;
    font-style: normal;
    text-decoration: none;
}

.btn:hover {
  background: #942238;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) { 
    .btn {
      padding: 12px 25px;
      font-size: 20px;
}

p {

  font-size: 20px;
  line-height: 20px;
}

p {

  font-size: 22px;
  line-height: 30px;
  text-indent: 30px;
  color: #B85367;
}

div{

}


.donate{
  align-content: center;
}

footer{
  padding: 10px;
  margin-left: left;
}