:root {
  --he-primary-color: #B85367;
}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap')

body {
  font-family: 'Itim', cursive;

  }

body {
  background-color: #FFDEDB;
}

}
nav {
  width: 100%;
  position: absolute;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #B85367;
}

nav ul {
    margin: 4rem 2rem 2 rem 2rem;
    list-style: none;
    display: flex;
}

nav ul li.logo {
  margin-right: 2rem;
}

nav ul li.logo {
    width:100px;
    margin-right: auto;
}

nav ul li {
  color: #B85367;
  text-decoration: none;
}

@media screen and (max-width: 900px) { 
    nav ul {
        flex-direction: column;
    }

    nav ul li.logo {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

header {
  width: 100vw;
  height: 100vh;
  background: rgba(184, 83, 103, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFDEDB;
}

header::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 100%; 
    background: #FFDEDB;
    background-image: url(../images/home-page.svg);
    background-size: cover;
    z-index: -1;
}

header h1 {
    margin-top: 0;
    font-size: 128px;
    line-height: 1px;
}

header p {
    font-size: 32px;
    font-weight: 300;
    font-height: 1px;
    margin-bottom: 56px;
}


@media screen and (max-width: 900px) { 
header h1 {
    font-size: 60px;

    }

    header p {
      font-size: 30px;
} 


.btn {
    background: #B85367;
    padding: 15px 30px;
    color: #FFDEDB;
    border-radius: 10px;
    font-size: 32px;
    font-style: normal;
    text-decoration: none;
}

.btn:hover {
  background: #942238;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 900px) { 
    .btn {
      padding: 12px 25px;
      font-size: 20px;
}